# Code Owners for Plateforme Intelligente
# These users are required reviewers for all pull requests.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Jozefu1999
